@tailwind base;
@tailwind components;
@tailwind utilities;



.prev-animation {
    animation: prev-animation 300ms forwards linear;
}

.next-animation {
    animation: next-animation 300ms forwards linear;
}

.fade-custom {
    animation: fade-custom 300ms forwards cubic-bezier(1, -1.37, 1, .41);
}

@keyframes prev-animation {

    0% {
        transform-origin: top;
        transform: translateX(30%) scale(0.25);
    }

    100% {
        transform-origin: center;
        transform: translateX(0) scale(1);
    }
}

@keyframes next-animation {

    0% {
        transform-origin: bottom;
        transform: translateX(30%) scale(0.25);
    }

    100% {
        transform-origin: center;
        transform: translateX(0) scale(1);
    }
}

@keyframes fade-custom {
    0% {
        opacity: 0.90;
    }

    100% {
        opacity: 1;
    }
}

.activeColor {
    @apply ring-4 ring-slate-900 scale-110 !important;
}